<div class="collection">
  <%= link_to '管理菜單',  meals_path , :class => "collection-item" %>
  <%= link_to '帳號設定',  edit_user3_registration_path , :class => "collection-item"%>
  <%= link_to '瀏覽訂單',  edit_user3_registration_path , :class => "collection-item"%>
</div>
