<%= form_tag new_doctors_patient_path ,method: :get do %>
    <div class="ui-field-contain">
      <label for="roc_id">請選擇日期</label>
      <%= text_field_tag :roc_id ,params[:roc_id]%>
    </div>
<% end %>

 <div class="collection">
        <a href="#!" class="collection-item">運動紀錄</a>
</div>

<table class="striped">
  <thead>
    <tr>
      <td>
        運動時間區間
      </td>
      <td>
        消耗熱量
      </td>
    </tr>
  </thead>
  <tbody>
        <tr>
       <td>
        00:00
      </td><td>
    20 Kcal
      </td>
    </tr><tr>
      <td>
        01:00
      </td>
      <td>
    23 Kcal
      </td>
    </tr><tr>
      <td>
        02:00
      </td>
      <td>
    13 Kcal
      </td>
    </tr><tr>
      <td>
        03:00
      </td>
      <td>
    10 Kcal
      </td>
    </tr><tr>
      <td>
        04:00
      </td>
      <td>
    33 Kcal
      </td>
    </tr><tr>
      <td>
        05:00
      </td>
      <td>
    30 Kcal
      </td>
    </tr><tr>
      <td>
        06:00
      </td>
      <td>
    35 Kcal
      </td>
    </tr><tr>
      <td>
        07:00
      </td>
      <td>
    30 Kcal
      </td>
    </tr><tr>
      <td>
        08:00
      </td>
      <td>
    100 Kcal
      </td>
    </tr><tr>
      <td>
        09:00
      </td>
      <td>
    76 Kcal
      </td>
    </tr><tr>
      <td>
        10:00
      </td>
      <td>
    24 Kcal
      </td>
    </tr><tr>
      <td>
        11:00
      </td>
      <td>
    33 Kcal
      </td>
    </tr><tr>
      <td>
        12:00
      </td>
      <td>
    65 Kcal
      </td>
    </tr><tr>
      <td>
        13:00
      </td>
      <td>
    40 Kcal
      </td>
    </tr><tr>
      <td>
        14:00
      </td>
      <td>
    250 Kcal
      </td>
    </tr><tr>
      <td>
        15:00
      </td>
      <td>
    33 Kcal
      </td>
    </tr><tr>
      <td>
        16:00
      </td>
      <td>
    50 Kcal
      </td>
    </tr><tr>
      <td>
        17:00
      </td>
      <td>
    33 Kcal
      </td>
    </tr><tr>
      <td>
        18:00
      </td>
      <td>
    40 Kcal
      </td>
    </tr><tr>
      <td>
        19:00
      </td>
      <td>
    150 Kcal
      </td>
    </tr><tr>
      <td>
        20:00
      </td>
      <td>
    33 Kcal
      </td>
    </tr><tr>
      <td>
        21:00
      </td>
      <td>
    50 Kcal
      </td>
    </tr><tr>
      <td>
        22:00
      </td>
      <td>
    33 Kcal
      </td>
    </tr><tr>
      <td>
        23:00
      </td>
      <td>
    12 Kcal
      </td>







  </tbody>
</table>


