<table class="striped">
  <thead>
    <tr>
      <td>
        料理名稱
        </td>
        <td>
        價格
        </td>
        <td>
        選擇餐點
      </td>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td>
         大麥克
        </td>
        <td>
        79
        </td>
        <td>
          <a>選擇餐點</a>
      </td>
    </tr>
<tr>
      <td>
         雙層牛肉吉士堡
        </td>
        <td>
        75
        </td>
        <td>
          <a>選擇餐點</a>
      </td>
    </tr><tr>
      <td>
         四盎司牛肉堡
        </td>
        <td>
        82
        </td>
        <td>
          <a>選擇餐點</a>
      </td>
    </tr><tr>
      <td>
          麥香魚
        </td>
        <td>
        75
        </td>
        <td>
          <a>選擇餐點</a>
      </td>
    </tr>
  </tbody>
</table>
</br>
<div class="collection">
        <a href="#!" class="collection-item">我的餐盤</a>
</div>

<table class="striped">
  <thead>
    <tr>
      <td>
        料理名稱
        </td>
        <td>
        價格
      </td>
      <td>
        數量
      </td>
        <td>
        刪除餐點
      </td>
    </tr>
  </thead>
  <tbody>
<tr>
      <td>
          麥香魚
        </td>
        <td>
        75
      </td>
      <td>
        1
      </td>
        <td>
          <a>刪除餐點</a>
      </td>
    </tr>
  </tbody>
</table>
總金額 75 元
</br>
<div class="collection">
        <a href="#!" class="collection-item">營養素評估結果</a>
</div>

<i class="large mdi-action-thumb-up"></i>

<div class="actions">
  <a class="btn">確認並送出訂單</a>
</div>
