
<table class="striped">
  <thead>
    <tr>
      <td>
        料理名稱
        </td>
        <td>
        價格
        </td>
        <td>
        選擇餐點
      </td>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td>
         大麥克
        </td>
        <td>
        79
        </td>
        <td>
          <a>選擇餐點</a>
      </td>
    </tr>
<tr>
      <td>
         雙層牛肉吉士堡
        </td>
        <td>
        75
        </td>
        <td>
          <a>選擇餐點</a>
      </td>
    </tr><tr>
      <td>
         四盎司牛肉堡
        </td>
        <td>
        82
        </td>
        <td>
          <a>選擇餐點</a>
      </td>
    </tr><tr>
      <td>
          麥香魚
        </td>
        <td>
        75
        </td>
        <td>
          <a>選擇餐點</a>
      </td>
    </tr>
  </tbody>
</table>
</br>
<div class="collection">
        <a href="#!" class="collection-item">我的餐盤</a>
</div>

<table class="striped">
  <thead>
    <tr>
      <td>
        料理名稱
        </td>
        <td>
        價格
        </td>
        <td>
        刪除餐點
      </td>
    </tr>
  </thead>
  <tbody>
<tr>
      <td>
          麥香魚
        </td>
        <td>
        75
        </td>
        <td>
          <a>刪除餐點</a>
      </td>
    </tr>
  </tbody>
</table>

總金額 75 元
</br>
<div class="collection">
        <a href="#!" class="collection-item">營養素評估結果</a>
</div>


熱量超出目前門檻質 400 大卡
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">選擇運動</a>

  <div class="actions">
  <a class="btn">確認並送出訂單</a>
</div>

  <!-- Modal Trigger -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">

</br>提醒您昨日熱量超出標準250大卡，額外攝取了會產生0.03公斤的熱量</br>

<div class="row">
<table class="striped">
  <thead>
    <tr>
      <td>
        平均分配給  <div class="input-field col s12">
  <div class="select-wrapper"><i class="mdi-navigation-arrow-drop-down active"></i>
    <input type="text" class="select-dropdown" readonly="true" data-activates="select-options-ccd999b0-61fb-e622-4990-3b30a2dd793e" value="請選擇天數">
      <ul id="select-options-ccd999b0-61fb-e622-4990-3b30a2dd793e" class="dropdown-content select-dropdown">
        <li class=""><span>1日</span></li>
        <li class=""><span>2日</span></li>
        <li class=""><span>3日</span></li>
        <li class=""><span>4日</span></li>
        <li class=""><span>5日</span></li>
       <li class=""><span>6日</span></li>
  <li class=""><span>7日</span></li>
   <li class=""><span>8日</span></li>
    <li class=""><span>9日</span></li>
     <li class=""><span>10日</span></li>

    </ul>
    <select class="initialized">
      <option value="" disabled="" selected="">請選擇運動</option>
      <option value="1">慢跑</option>
      <option value="2">游泳</option>
      <option value="3">腳踏車</option>
    </select></div>
  </div>
        </td>
        <td>
  <div class="btn">選擇</div>
      </td>
    </tr>
  </thead>
  <tbody>
<tr>
      <td>
         遞減法
        </td>
        <td>
          第1日減少 125 大卡、第2日減少62大卡、第3日減少31大卡…

        </td>
        <td>
  <div class="btn">選擇</div>
      </td>
    </tr>

  </tbody>
</table>


</br></br>
<div class="btn right">確認後關閉視窗</div>

</div> </div>

