<div class="collection">
  <%= link_to '料理檢索',  meals_path , :class => "collection-item" %>
  <%= link_to '飲食紀錄',  edit_user_registration_path , :class => "collection-item"%>
  <%= link_to '營養師建議',  orders_path , :class => "collection-item"%>
  <%= link_to '修改基本資料', edit_user_registration_path , :class => "collection-item" %>
</div>
